* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 700;
}

button {
  appearance: none;
  padding: 0;
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
}

input {
  background: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

input:focus {
  outline: none;
}
